<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033390560245-s4etup5e2fl1krk5o7cgjfe15h179h4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033390560245-s4etup5e2fl1krk5o7cgjfe15h179h4u</string>
	<key>API_KEY</key>
	<string>AIzaSyB7afR-1u7kK7o7U0k0s6HlZzZ9Dsnjjhw</string>
	<key>GCM_SENDER_ID</key>
	<string>1033390560245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>David-Pidugu.PleaseWork</string>
	<key>PROJECT_ID</key>
	<string>pleasework-fb341</string>
	<key>STORAGE_BUCKET</key>
	<string>pleasework-fb341.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033390560245:ios:ad449d18947e185063c6bc</string>
</dict>
</plist>